.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passwordInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(142, 219, 142);
  width: 60%;
  height: 350px;
  border-radius: 20px;
  margin-top: 20px;

}


.passwordInput button, input{
  border: none;
  border-radius: 25px;
  font-size: 1.5rem;
  height: 60px;
  width: 70%;
  text-align: center;
  margin-top: 2%;
}

button{
  cursor: pointer;
}